CONFIG_FATFS_LONG_FILENAMES=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Use a custom partition table
 CONFIG_PARTITION_TABLE_CUSTOM=y
 CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
 CONFIG_PARTITION_TABLE_OFFSET=0xC000

 # HTTP config
 CONFIG_HTTPD_LOG_PURGE_DATA=y
 CONFIG_HTTPD_WS_SUPPORT=y