CONFIG_FATFS_LONG_FILENAMES=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_LOG_DEFAULT_LEVEL_WARN=y

# Use a custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

 # HTTP config
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=256
CONFIG_HTTPD_LOG_PURGE_DATA=y
CONFIG_HTTPD_WS_SUPPORT=y

CONFIG_ETH_ENABLED=n

CONFIG_LWIP_LOCAL_HOSTNAME="esp3d-printer"
CONFIG_LWIP_DHCPS=n
CONFIG_LWIP_IPV6=n